name: Terraform-Validation CI
on:
  pull_request:
    branches:
      - main
jobs:
  build_terraform_validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
      - name: Terraform Init
        run: terraform init
      - name: Terraform Validate
        run: terraform validate
      - name: exit
        run: exit 1
